/*.color1 { #7b7b7b }; gris
.color2 { #5c5c5c };
.color3 { #3d3d3d };
.color4 { #1f1f1f };
.color5 { #000000 };negro
        #00ff00  verde
#033f3c
Negro (#000000): Este color se utiliza para el fondo y otros elementos oscuros en el sitio. Proporciona un fondo elegante y resalta otros colores.

Blanco (#FFFFFF): El blanco se utiliza para el texto y otros elementos en contraste con el fondo negro. Aporta claridad y legibilidad.

Verde Menta (#2FBEB8): Este tono de verde se utiliza en botones y acentos para agregar un toque de frescura y vitalidad.

Amarillo (#F6C819): El amarillo se utiliza para resaltar información importante y añadir un toque de calidez y energía.

Gris (#808080): El gris se usa para detalles más oscuros o sombras. Agrega profundidad sin ser demasiado llamativo.
        Estilos para todo el proyecto */
        body {
            font-family: Arial, sans-serif;
            background-color: #000000;
        }

        .contenedor-centrado {
            display:flex;
            width: 100%;
            justify-content: center;
            background-color: black;
            border-color: #FFFFFF;
        }
        .contenedor-centrado a {
            display: inline-block;
            padding: 10px 20px;
            text-decoration: none;
            color: #fff;
            border: 2px solid #fff;
            /*Ajustaelanchoycolordelbordesegúntuspreferencias*/border-radius: 5px;
            /*Opcional: Agrega esquinas redondeadas */        ;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
}
        
        .contenedor-centrado a:hover {
            background-color: #fff;
            color: #000; /* Cambia el color del texto al pasar el ratón */
        }
        .mostrarDatosProducto{
            background-color: yellow;
        }
       
        
       /* Estilos del Navbar */
.navbar-custom {
    background-color: black;
   /* Fondo del Navbar */
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #ffffff;
    /*TextodelNavbar*/border: 2px solid white;
    /*BordedelNavbar*/border-radius: 10px;
    /*Bordesredondeados*/margin: 0 5px;
    /*MárgenesentreelementosdelNavbar*/padding: 8px 15px;
    /*EspaciadointernodelNavbar*/position: relative;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.navbar-custom .navbar-brand::before,
.navbar-custom .nav-link::before,
.navbar-custom .navbar-brand::after,
.navbar-custom .nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    /*Colordelaslucesdeneón*/opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 2;
    /*Aumentaelvalordez-index*/-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.navbar-custom .navbar-brand::before,
.navbar-custom .nav-link::before {
    top: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.navbar-custom .navbar-brand::after,
.navbar-custom .nav-link::after {
    bottom: 0;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
}

.navbar-custom .navbar-brand:hover::before,
.navbar-custom .nav-link:hover::before,
.navbar-custom .navbar-brand:hover::after,
.navbar-custom .nav-link:hover::after {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

        p {
            font-family: 'Times New Roman', Times, serif;
            background-color: black;
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
        }
        
        h1, h2, h3, h4, h5, h6 {
            text-align: center;
            color: white;
        }
        
        form {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: yellow;
            border: 1px solid beige;
            border-radius: 5px;
            -webkit-border-radius:;
            -moz-border-radius:;
            -ms-border-radius:;
            -o-border-radius:;
}
#formulario {
    background-color: yellow;
}
        
        .table {
            max-width: 90%;
            width: 20%;
            margin: 0 auto;
            padding: 200px !important;
            background-color: yellow;
            border: 1px solid lightslategray;
            border-radius: 5px;
            -webkit-border-radius:;
            -moz-border-radius:;
            -ms-border-radius:;
            -o-border-radius:;
}
table {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: yellow;
    border: 1px solid lightslategray;
    border-radius: 5px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}


/* Estilos de luces de neón */
.neon-text {
    font-family: 'Arial', sans-serif;
    font-size: 2em;
    color: black;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff;
    animation: neonAnimation 2s infinite alternate;
    -webkit-animation: neonAnimation 2s infinite alternate;
}

.neon-text:hover {
    color: #FFFFFF; /* Cambia el color al pasar el ratón */
    text-shadow: 0 0 5px #FFFFFF, 0 0 10px #FFFFFF, 0 0 15px #FFFFFF, 0 0 20px #FFFFFF, 0 0 30px #FFFFFF, 0 0 40px #FFFFFF, 0 0 50px #FFFFFF;

}

.neon-table a {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    -webkit-transition:;
    -moz-transition:;
    -ms-transition:;
    -o-transition:;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}

.neon-table a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: 0 50%;
    transition: 0.5s;
    -webkit-transform:;
    -moz-transform:;
    -ms-transform:;
    -o-transform:;
    -webkit-transition:;
    -moz-transition:;
    -ms-transition:;
    -o-transition:;
}

.neon-table a:hover {
    color: #000;
}

.neon-table a:hover:before {
    transform: scaleY(1);
    transform-origin: 0 50%;
    -webkit-transform:;
    -moz-transform:;
    -ms-transform:;
    -o-transform:;
}


        
        label {
            display: block;
            margin-bottom: 5px;
        }
        
        input[type="text"],
        input[type="number"],
        textarea {
            width: 90%;
            padding: 10px;
            margin-bottom: 10px;
            border: 3px solid #cccccc;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
}
        
        input[type="submit"] {
            padding: 10px;
            background-color: #808080;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
}
        
        input[type="submit"]:hover {
            background-color: #808080;
        }
        
        button {
            padding: 8px;
            margin:4px;
            background-color: #000000;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
}
        
        button:hover {
            background-color: white;
        }
        
        a {
            padding: 8px;
            margin:4px;
            background-color:black;
            color:aliceblue;
            /*altadeproducto,listado,agregar,borrar*/border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            font-size: 85%;
            -webkit-border-radius:;
            -moz-border-radius:;
            -ms-border-radius:;
            -o-border-radius:;
}
        
        
        a:hover {
            background-color: #808080;
            
        }
        
        
        h1, h3{
            background-color: transparent;
            font-style: italic;
            color: #ffffff;
        
        }
        
        .neon-footer {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            color: #fff;
            padding: 2px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        
        .neon-footer p {
            margin: 0;
        }
        
        .neon-footer a {
            color: #fff;
            margin: 0 10px;
            text-decoration: none;
        }
        .btn-primary{
            background-color: #000000;
            color: #808080;
        }
        .btn-primary:hover {
            background-color: white;
            color: black;
        }
        
        /* Ajusta el tamaño de los iconos según tus preferencias */
        .neon-footer i {
            font-size: 24px;
        }
        